/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/
/*--UX Colors
White Smoke: #f5f5f5;
Tutu: #fddfdf;
Frosted Mint: #defde0;
Alice Blue: #def3fd;
--*/
/*--Google Fonts
font-family: 'Annie Use Your Telescope', cursive;
font-family: 'Cabin Sketch', cursive;
font-family: 'Gaegu', cursive;
--*/
@import url('https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&family=Cabin+Sketch:wght@400;700&family=Gaegu&display=swap');
/*--General--*/
body{
    font-family: 'Gaegu', cursive;
    overflow-x: hidden;
    text-align: center;
}
section{
    min-height: 100vh;
    overflow: hidden;
}
h2{
    font-family: 'Annie Use Your Telescope', cursive;
    font-size: 2em;
}
h3{
    font-family: 'Annie Use Your Telescope', cursive;
    font-size: 1.75em;
}
p{
    font-size: 1.25em;
}
/*--Navbar--*/
.nav-container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
}
.navbar-nav{
    text-align: left;
}
.bg-color-navbar{
    background-color: whitesmoke;
}
/*--Navbar logo--*/
.navbar-brand{
    font-family: 'Cabin Sketch', cursive;
    font-size: 1.5em;
    font-weight: 700;
}
/*--Nav Links--*/
a{  
    color: black;
    font-family: 'Gaegu', cursive;
    font-size: 1.375em;
}
.nav-item:hover{
    text-decoration: underline;
}
#nav-home:hover{
    color: orange;
}
#nav-map:hover{
    color: lightskyblue;
}
#nav-explore:hover{
    color: lightgreen;
}
#nav-booking:hover{
    color:  lightcoral;
}
/*--Hero Image--*/
.heroImg-container{
    position: relative;
    top: 0;
    left: 0;
    overflow:hidden;
    width: 100vw;
    height: 100vh;
}
.heroImg-container img{
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: right;
       object-position: right;
    overflow-x: hidden;
    position: absolute;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
}
/*--Explore section--*/
.explore-container{
    background-color: #def3fd;
}
.explore-heading{
    padding-top: 70px;
}
/*--Input search box--*/
.search-label{
    font-size: 1.25em;
}
/*--Four buttons for each type place--*/
.button-places{
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 20px;
}
.btn-explore{
    margin-top: 15px;
    background-color: whitesmoke;
}
/*--Google Map--*/
#map{
    width: 70%;
    height: 50vh;
    margin-top: 30px;
}
.col-map{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
/*--Container of card places--*/
.cardContainer{
    padding-top: 50px;
}
/*--Tips section--*/
.tips-container{
    background-color: #defde0;
}
.tips-heading{
    padding-top: 70px;
}
.tips-text{
    padding-top: 10px;
    padding-bottom: 50px;
}
/*--Carousel cards used for both Explore and Tip section--*/
#attraction-slider #card-places {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
#attraction-slider #card-places .card{
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    background-color: whitesmoke;
}
.owl-carousel .card .card-img-top img{
    width:100%;
    -o-object-fit: cover;
       object-fit: cover;
    height: 50vh;
}
/*--Carousel navigation--*/
.owl-nav{
    font-size: 1.875em;
}
/*--Booking section--*/
#Booking {
    overflow: hidden;
    min-height: fit-content;
}
.booking-container{
    background-color: #fddfdf;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    vertical-align: middle;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.booking-heading{
    padding-top: 70px;
    padding-bottom: 20px;
}
/*--Contact form--*/
.form-container{
    width: 60%;
}
/*--Submit button--*/
#send-btn{
    font-size: 1.125em;
    background-color: whitesmoke;
    border-color: black;
}
/*--Modal--*/
.modal-body{
    background-color: whitesmoke;
}
.modal-title{
    font-weight: bold;
}
/*--Footer--*/
footer{
    bottom: 0;
    background-color: whitesmoke;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    height: 5em;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: 100%;
}
/*--Copyright--*/
.copyright{
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-size: 1.125em;
    font-family: 'Gaegu', cursive;
    padding-top: 15px;
}
/*--- Social Media links ---*/
#social-col{
    align-content: flex-start; 
        text-align: start; 
        -ms-flex-line-pack: start; 
}
.social-media-links{
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding-top: 15px;
}
/*--Social media icons--*/
.fab{
    font-size: 1.25em;
}
.fab:hover {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3); 
    transform: scale(1.3);
    -o-transition: all 0.3s ease-in-out 0.3s;
    transition: all 0.3s ease-in-out 0.3s;
    -moz-transition: all 0.3s ease-in-out 0.3s;
    -webkit-transition: all 0.3s ease-in-out 0.3s;
}
.fa-github-square:hover{
    color:orange;
}
.fa-linkedin:hover{
    color: lightskyblue;
}
.fa-facebook-square:hover{
    color:lightgreen;
}
.fa-instagram-square:hover{
    color: lightcoral;
}
/*--Media Queries--*/
/*--Phones--*/
@media (max-width: 575.98px){
    footer{
        bottom: 0;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        overflow: hidden;
    }
}
/*--Landscape phones--*/
@media screen and (max-width: 768px){
    h2 {
        font-size: 1.5em;
    }
    h3 {
        font-size: 1.375em;
    }
    p {
        font-size: 1.125em;
    }
    .btn-explore{
        margin-bottom: 5px;
    }
    #map{
        width: 90%;
        margin-bottom: 20px;
    }
    .form-container{
    width:75%;
    }
    footer{
        height: 8.75em;
    }
    #social-col{
        align-content: center; 
        text-align: center; 
        -ms-flex-line-pack: center; 
         padding-top: 10px;
        width: 90%;
    }
    #copyright-col{
        align-content: center; 
        text-align: center; 
        -ms-flex-line-pack: center; 
        padding-bottom: 10px;
        width: 90%;
    }   
}